[submodule "library/libaudio"]
	path = library/libaudio
	url = https://github.com/jmscreation/libaudio
[submodule "library/json-loader"]
	path = library/json-loader
	url = https://github.com/jmscreation/json-loader
[submodule "library/libfreetype"]
	path = library/libfreetype
	url = https://github.com/jmscreation/libfreetype
[submodule "library/libpng"]
	path = library/libpng
	url = https://github.com/jmscreation/libpng
[submodule "library/libz"]
	path = library/libz
	url = https://github.com/jmscreation/libz
